In [43]:
import scipy
import numpy as np
import pandas as pd
import pingouin as pg
import matplotlib.pyplot as plt

df = pd.read_csv("football.csv")

Possession, 

npxGD - difference between "for" and "against" expected goals without penalties and own goals

ShortPassesPerGame / LongBallsPerGame

Davandegi

In [44]:
df["Start Season"] = df["Season"].apply(lambda x : int(x[:4]))
df["End Season"] = df["Season"].apply(lambda x : int(x[5:]))
df["League"].replace('La Liga', 'La_liga',inplace = True)
df["League"].replace('Premier League', 'EPL',inplace = True)

In [45]:
df_understat = pd.read_csv("understat.com.csv")
df_understat.rename(columns = {
    "Unnamed: 0" : "league",
    "Unnamed: 1" : "season",
    "position" : "rank"
    }, inplace = True)
pl_u = df_understat[(df_understat["league"] == "EPL") & (df_understat["season"] == 2019)][["rank","team", "npxGD"]].sort_values(["rank"]).reset_index(drop = True)
ll_u = df_understat[(df_understat["league"] == "La_liga") & (df_understat["season"] == 2019)][["rank","team", "npxGD"]].sort_values(["rank"]).reset_index(drop = True)

In [46]:
year = 2019

In [47]:
# SPPLBP - ShortPassesPerGameDividedbyLongBallsPerGame
pl = df[(df["Start Season"] == year) & ((df["League"] == 'EPL') )][['Rank','League','Team','Possession','ShortPassesPerGame', 'LongBallsPerGame']].sort_values(["Rank"]).reset_index(drop = True)
pl["SPPLBP"] = pl["ShortPassesPerGame"] /pl["LongBallsPerGame"]
pl.drop(["LongBallsPerGame", "ShortPassesPerGame"], axis = 1, inplace = True)
pl["Rank"] = pl["Rank"].astype(int)

In [48]:
ll = df[(df["Start Season"] == year) & ((df["League"] == 'La_liga') )][['Rank','League','Team','Possession','ShortPassesPerGame', 'LongBallsPerGame']].sort_values(["Rank"]).reset_index(drop = True)
ll["SPPLBP"] = ll["ShortPassesPerGame"] /ll["LongBallsPerGame"]
ll.drop(["LongBallsPerGame", "ShortPassesPerGame"], axis = 1, inplace = True)
ll["Rank"] = ll["Rank"].astype(int)

In [49]:
pl["npxGD"] = pl_u["npxGD"]
ll["npxGD"] = ll_u["npxGD"]

In [55]:
pl

    Rank League               Team  Possession     SPPLBP      npxGD
0      1    EPL          Liverpool        59.6   8.590909  32.575792
1      2    EPL    Manchester City        62.6  12.169811  58.818903
2      3    EPL  Manchester United        54.6   9.836735  19.754725
3      4    EPL            Chelsea        57.9   9.807018  31.333631
4      5    EPL          Leicester        55.1   8.600000  15.391501
5      6    EPL          Tottenham        51.5   7.981818  -2.966332
6      7    EPL      Wolverhampton        48.7   5.544118  16.218258
7      8    EPL            Arsenal        52.9   8.377358  -2.468798
8      9    EPL   Sheffield United        44.4   4.364865  -2.954927
9     10    EPL            Burnley        43.9   3.712329  -4.708494
10    11    EPL        Southampton        49.2   5.208955  -1.012431
11    12    EPL            Everton        49.0   5.682540   6.781945
12    13    EPL          Newcastle        41.8   4.523810 -29.776444
13    14    EPL     Crystal Palace        46.4   5.758621 -24.466621
14    15    EPL           Brighton        51.7   7.237288 -12.991779
15    16    EPL           West Ham        45.4   5.184615 -17.731903
16    17    EPL        Aston Villa        45.7   4.873016 -24.231866
17    18    EPL        Bournemouth        45.6   6.017857 -10.049648
18    19    EPL            Watford        44.3   4.952381 -17.100878
19    20    EPL            Norwich        49.8   6.847458 -30.414633

In [56]:
ll

    Rank   League              Team  Possession     SPPLBP      npxGD
0      1  La_liga       Real Madrid        57.1   7.953846  32.321739
1      2  La_liga         Barcelona        63.2  14.170213  34.928789
2      3  La_liga   Atletico Madrid        48.9   6.271186  16.324050
3      4  La_liga           Sevilla        55.9   6.514286  24.196848
4      5  La_liga        Villarreal        29.6   6.523077  15.597880
5      6  La_liga     Real Sociedad        54.6   7.890909  12.003165
6      7  La_liga           Granada        45.2   3.867647   1.581915
7      8  La_liga            Getafe        45.8   2.780488   1.322649
8      9  La_liga          Valencia        49.4   6.262295 -12.754138
9     10  La_liga           Osasuna        47.8   3.986667  -2.771806
10    11  La_liga   Athletic Bilbao        49.0   4.506849 -12.621221
11    12  La_liga           Levante        48.8   5.206349 -13.175843
12    13  La_liga   Real Valladolid        15.4   4.183099 -16.949872
13    14  La_liga             Eibar        46.7   3.337349 -14.963861
14    15  La_liga        Real Betis        55.7   7.186441  -5.175230
15    16  La_liga  Deportivo Alaves        43.2   3.984848 -13.093103
16    17  La_liga        Celta Vigo        51.3   7.200000  -7.361762
17    18  La_liga           Leganes        45.0   4.164179  -5.268822
18    19  La_liga          Mallorca        46.3   5.888889 -20.254996
19    20  La_liga          Espanyol        47.5   4.571429 -13.886380

In [59]:
pl_ll = pd.concat([pl,ll]).reset_index(drop = True)

In [60]:
pl_ll

    Rank   League               Team  Possession     SPPLBP      npxGD
0      1      EPL          Liverpool        59.6   8.590909  32.575792
1      2      EPL    Manchester City        62.6  12.169811  58.818903
2      3      EPL  Manchester United        54.6   9.836735  19.754725
3      4      EPL            Chelsea        57.9   9.807018  31.333631
4      5      EPL          Leicester        55.1   8.600000  15.391501
5      6      EPL          Tottenham        51.5   7.981818  -2.966332
6      7      EPL      Wolverhampton        48.7   5.544118  16.218258
7      8      EPL            Arsenal        52.9   8.377358  -2.468798
8      9      EPL   Sheffield United        44.4   4.364865  -2.954927
9     10      EPL            Burnley        43.9   3.712329  -4.708494
10    11      EPL        Southampton        49.2   5.208955  -1.012431
11    12      EPL            Everton        49.0   5.682540   6.781945
12    13      EPL          Newcastle        41.8   4.523810 -29.776444
13    14      EPL     Crystal Palace        46.4   5.758621 -24.466621
14    15      EPL           Brighton        51.7   7.237288 -12.991779
15    16      EPL           West Ham        45.4   5.184615 -17.731903
16    17      EPL        Aston Villa        45.7   4.873016 -24.231866
17    18      EPL        Bournemouth        45.6   6.017857 -10.049648
18    19      EPL            Watford        44.3   4.952381 -17.100878
19    20      EPL            Norwich        49.8   6.847458 -30.414633
20     1  La_liga        Real Madrid        57.1   7.953846  32.321739
21     2  La_liga          Barcelona        63.2  14.170213  34.928789
22     3  La_liga    Atletico Madrid        48.9   6.271186  16.324050
23     4  La_liga            Sevilla        55.9   6.514286  24.196848
24     5  La_liga         Villarreal        29.6   6.523077  15.597880
25     6  La_liga      Real Sociedad        54.6   7.890909  12.003165
26     7  La_liga            Granada        45.2   3.867647   1.581915
27     8  La_liga             Getafe        45.8   2.780488   1.322649
28     9  La_liga           Valencia        49.4   6.262295 -12.754138
29    10  La_liga            Osasuna        47.8   3.986667  -2.771806
30    11  La_liga    Athletic Bilbao        49.0   4.506849 -12.621221
31    12  La_liga            Levante        48.8   5.206349 -13.175843
32    13  La_liga    Real Valladolid        15.4   4.183099 -16.949872
33    14  La_liga              Eibar        46.7   3.337349 -14.963861
34    15  La_liga         Real Betis        55.7   7.186441  -5.175230
35    16  La_liga   Deportivo Alaves        43.2   3.984848 -13.093103
36    17  La_liga         Celta Vigo        51.3   7.200000  -7.361762
37    18  La_liga            Leganes        45.0   4.164179  -5.268822
38    19  La_liga           Mallorca        46.3   5.888889 -20.254996
39    20  La_liga           Espanyol        47.5   4.571429 -13.886380